:root {
    --bg: #fff;
    --white: #fff;
    --text: #000000;
    --lightgrey: #fafafa;
    --main_container: rgb(85, 85, 85);
    --button1: rgba(216, 216, 216, 0.893);
    --button2: rgba(180, 175, 175, 0.372);
    --button3: rgb(131, 126, 126);
    --button4: rgba(0, 0, 0, 0.608);

    --switcht1: rgba(255, 255, 255, .6);
    --switcht2: rgba(0, 0, 0, .25);
    --switcht3: rgba(190, 189, 189, 0);
    --switcht4: rgba(0, 0, 0, .25);
    --switchbg: #dfdfdf;

}


/* :root {
    --bg: #000000;
    --white: #0b0d4b;
    --text: #fff;
    --lightgrey: #0a0c3d;
    --main_container: rgb(85, 85, 85);
    --button1: rgba(255, 98, 1, 0.451); 
    --button2: rgba(214, 72, 72, 0.422);
    --button3: rgb(12, 15, 111);
    --button4: rgb(153, 63, 38);

    --switcht1 : rgba(255,255,255,.6);
    --switcht2 : rgba(0,0,0, .25);
    --switcht3 : rgba(190, 189, 189, 0);
    --switcht4 : rgba(0,0,0, .25);
    --switchbg: #965021;

} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text);

}

.switch-holder {
    display: flex;
    background-color: var(--switchbg);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.switch-toggle input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    box-shadow: inset -8px -8px 15px var(--switcht1),
        inset 10px 10px 10px var(--switcht2);

}

.switch-toggle input[type="checkbox"]+label::before {
    position: absolute;
    content: 'OFF';
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    left: 8px;
    width: 45px;
    height: 25px;
    border-radius: 20px;
    background-color: #dfdfdf;
    box-shadow: -3px 0px 5px var(--switcht3),
        3px 3px 5px var(--switcht4);
    transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked+label::before {
    left: 45%;
    content: 'ON';
    color: #fff;
    background-color: #00b33c;
    box-shadow: -3px 0px 5px #00b33c,
        3px 3px 5px rgba(255, 255, 255, .5);
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 90vh;
    background-color: var(--bg);
}

#main_container {
    width: 275px;
    box-shadow: 0 0 15px var(--main_container);
    border-radius: 10px;
}

#top {
    height: 100px;
    background-color: var(--white);
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 7px;
}

#top #inp {
    width: 100%;
    height: 80%;
    padding: 20px;
    border: none;
    border-radius: 25px;
    font-size: 40px;
    text-align: end;
}

#bottom {
    width: 100%;
    background-color: var(--lightgrey);
    padding: 10px;
    padding-bottom: 20px;
}

#bottom .btn_box {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto;
    gap: 20px 0;
}

.cancel {
    background-image: url(./cancel.svg);
    width: 50px;
    height: 50px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    box-shadow: inset 5px 5px 10px var(--button1),
        0px 0px 10px var(--button2),
        0px 0px 10px var(--button2),
        inset -10px -6px 12px var(--button3),
        3px 6px 2px var(--button4);
    border-radius: 25px;
    border: 1px solid #b6b6b6;
    cursor: pointer;
    user-select: none;
    font-size: 25px;
}

.btn:hover {
    box-shadow: inset 5px 5px 10px var(--button3),
        0px 0px 10px var(--button2),
        0px 0px 10px var(--button2),
        inset -10px -6px 12px var(--button1),
        3px 6px 2px var(--button4);
}

.btn:active {
    box-shadow: inset 5px 5px 10px var(--button3),
        /**/
        0px 0px 10px var(--button2),
        0px 0px 10px var(--button2),
        inset -10px -6px 12px var(--button1),
        2px 2px 2px var(--button4);
    left: 2px;
    top: 2px;
}

.zero {
    grid-column: 1 / 3;
    width: 110px !important;
}

#error {
    display: none;
    font-size: 25px;
    font-weight: 600;
    text-align: right;
    color: red;
}